QWidget {
  background-color: white;
  color: black;
}

QLabel#testCaseSumary {
  background-color : red;
}

worlddirect--Console {
  background-color: black;
  color: green;
}

worlddirect--NamePlateWidget, worlddirect--NamePlateWidget * {
  background-color: white;
  color: black;
}
